<header class="navbar bg-dark navbar-expand navbar-light flex-column flex-md-row bd-navbar">
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link active" href="/books/book" >Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/books/add" >Add-Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books/issued">Issued-Book</a>
        </li>
      </ul>
    </div>
  </header>